<mat-dialog-content>
  <div class="donate-box">
    <p class="donate-title">Rules</p>
    <div class="donate-message-wrapper">
      <p class="donate-message">
        Your main goal is to guess the other player's card by asking questions about his card and acting upon it.
      </p>
      <p class="donate-message">
        Follow the bottom right corner where your status is updated on every turn. It shows what you are supposed to do.
      </p>
      <p class="donate-message">
        Each player goes through the same cycle of asking a question, waiting for an answer and flipping cards or guessing the right one.
      </p>
      <p class="donate-message">
        When you have received an answer, you can click on the cards which will trigger a popup. After that, you can flip a card or guess.
      </p>
      <p class="donate-message">
        Be careful when guessing, you only have a single chance!
      </p>
    </div>
  </div>
</mat-dialog-content>
