<div *ngIf="!isNameChosen">
  <div class="center-align in-center">
    <div class="row">
      <div class="wrapper-box">
        <input type="text" id="username-input" name="username-input" class="form-control" placeholder="Enter username" [(ngModel)]="username">
      </div>
    </div>
    <div class="row">
      <div class="wrapper-box">
        <button id="entername" class="btn btn-default hoverable" type="button" (click)="checkAvailability(username)">Choose</button>
      </div>
    </div>
    <div class="row">
      <div class="wrapper-box">
        <div [hidden]="!isUsernameTakenBool" class="username-taken">Username taken, try a different one!</div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="isNameChosen && !gameRequestFromPlayer">
  <app-homescreen [username]="username"></app-homescreen>
</div>