<div *ngIf="!game"> 
  <div class="row">
    <div class="username-wrapper">
      <div class="username">
        Username: {{username}}
      </div>
    </div>
  </div>
  <div class="center-align in-center">
    <div class="row">
      <div class="play-random">
        <button id="send" [disabled]="playerInLobby || askedSomeoneForMatch" class="btn btn-default" type="button" (click)="getRoomId()">Play a random match</button>
      </div>
    </div>
    <div class="row">
      <div class="ask-player">
        <input type="text" [disabled]="playerInLobby || askedSomeoneForMatch" id="username-input" name="username-input" class="form-control" placeholder="Enter player name" [(ngModel)]="otherPlayer">
        <button id="entername" [disabled]="playerInLobby || askedSomeoneForMatch" class="btn btn-default" type="bubtton" (click)="checkIfOtherPlayerAvailable()">Play with a friend</button>
      </div>
    </div>
    <div class="row">
      <div class="play-random">
        <a href="https://paypal.me/labyrinthteamgames" target="_blank">
          <button id="send" class="btn purple lighten-2 hoverable" type="button">Consider Donating</button>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="play-random">
        <a href="https://github.com/mladenristic1997/GuessMyMemePrototypingFrontEnd" onclick="window.open('https://github.com/mladenristic1997/GuessMyMemePrototypingBackEnd')" target="_blank"><button class="btn black hoverable" id="send">Github</button></a>
      </div>
    </div>
  </div>
</div>
<div *ngIf="game">
  <app-game [game]="game" [username]="username"></app-game>
</div>