.logo{
    text-align: center;
}
#logo-image{
    height: 30vh;
    width: 30vw;
    margin-top: -6px;
}
.in-center{
    margin-top: 0vh;
}
.username-row{
    margin-bottom: 0px !important;
}
#username-input{
    width: 250px;
    font-size: 18px;
    font-weight: bold;
    margin: 15px;
}
::-webkit-input-placeholder {
    text-align: right;
}

:-moz-placeholder { /* Firefox 18- */
    text-align: right;  
}

::-moz-placeholder {  /* Firefox 19+ */
    text-align: right;  
}

:-ms-input-placeholder {  
    text-align: right; 
}
#entername{
    margin: 15px;
    margin-bottom: 20px;
    margin-left: 0px;
}
#send{
    margin: 15px;
}
.ask-player{
    background-color: #637B80;
    text-align: center;
    display: inline-block;
    border-radius: 10px 10px 10px 10px;  
}
.play-random{
    background-color: #637B80;
    text-align: center;
    display: inline-block;
    border-radius: 10px 10px 10px 10px;
}
.rules{
    background-color: #637B80;
    border-radius: 10px 10px 10px 10px;
    float: right;
}
.username-wrapper{
    background-color: #637B80;
    text-align: center;
    display: inline-block;
    border-radius: 10px 10px 10px 10px;
    margin: 15px;
}
.username{
    background-color: #637B80;
    text-align: center;
    display: inline-block;
    border-radius: 10px 10px 10px 10px;
    font-size: 18px;
    font-weight: bold;
    margin: 5px 15px;
}