
<mat-dialog-content>
  <div class="donate-box">
    <p class="donate-title">Hello there!</p>
    <div class="donate-message-wrapper">
      <p class="donate-message">
        The two of us guys at _enter_company_name_ hate ads on websites and games as much as everyone else so we decided not to use them at all! But sadly, now as developers we understand the need for them.
      </p>
      <p class="donate-message">
        Developing software takes time and resources, paying for a server and domain name also isn't free, so we decided to have the option of donating.
      </p>
      <p class="donate-message">
        By showing your support towards our first game we will keep it ad-free and continue to make such projects!
      </p>
      <p class="donate-message">
        Feel free to check our code at any time and to send suggestions on game design and code design on our email _enter_our_gmail_!
      </p>
    </div>
  </div>
</mat-dialog-content>
